[% SET id = report.id %]
[%- IF tests.size -%]
<div class="controls">
  <a href="#" class="toggle_all_lines"><span class="show">Show All Lines</span><span class="hide" style="display: none">Show Only Errors</span></a>
</div>
  <ul summary="subtests" class="subtests">
  [%- FOREACH test IN tests -%]
    [%- IF test.skip  %] [% SET css_class = 'skip' -%]
    [%- ELSIF test.ok %] [% SET css_class = test.todo ? 'todo_ok' : 'ok' -%]
    [%- ELSE          %] [% SET css_class = test.todo ? 'todo'    : 'fail' -%]
    [%- END -%]
    <li class="[% css_class %]">
         [% test.comment | html %]
         [% IF test.unknown %]<pre class="unknown">[% test.unknown %]</pre>[%- END -%]
    </li>
  [%- END -%]
[%- ELSE -%]
  <em>No tests run</em>
[%- END -%]
